<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>07_PartyRock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>229AF0131F42431D006FEC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229AF0271F42431D006FEC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229AF0321F42431D006FEC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
